<div class="page-heading">
    <h1 class="page-title">Form masks</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Form masks</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="alert bg-white">
        <h4>Masked Input Plugin</h4>
        <p>This is a masked input plugin for the jQuery javascript library. It allows a user to more easily enter fixed width input where you would like them to enter the data in a certain format (dates,phone numbers, etc).</p>
        <p>
            <a class="btn btn-success" href="https://github.com/digitalBush/jquery.maskedinput" target="_blank">Official Site</a>
        </p>
    </div>
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Input Masks</div>
            <div class="ibox-tools">
                <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
            </div>
        </div>
        <div class="ibox-body">
            <form class="form-horizontal">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-date" type="text">
                        <span class="help-block">Data format dd/mm/yyyy
                            <span></span>
                        </span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-phone" type="text">
                        <span class="help-block">Data format (999) 999-9999</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Phone 2</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-phone2" type="text">
                        <span class="help-block">Data format +186 999 999-9999</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Extention</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-ext" type="text">
                        <span class="help-block">Data format (999) 999-9999? x9999</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Credit card</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-credit" type="text">
                        <span class="help-block">Data format ****-****-****-****</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Tax ID</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-tax" type="text">
                        <span class="help-block">Data format 99-9999999</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Currency</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-currency" type="text">
                        <span class="help-block">Data format $ 99.99</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Product Key</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-product" type="text">
                        <span class="help-block">Data format a*-999-a999</span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Eye Script</label>
                    <div class="col-sm-8">
                        <input class="form-control" id="ex-eye" type="text">
                        <span class="help-block">Data format ~9.99 ~9.99 999</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
