<div class="page-heading">
    <h1 class="page-title">Alerts &amp; Tooltips</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Alerts &amp; Tooltips</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Alerts</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="fullscreen-link"><i class="fa fa-expand"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="alert alert-success"><strong>Success!</strong> You successfully read this important alert message.
                        <a class="alert-link" href="javascript:;">Alert link</a>
                    </div>
                    <div class="alert alert-info"><strong>Info!</strong> This alert needs your attention, but it's not super important.
                        <a class="alert-link" href="javascript:;">Alert link</a>
                    </div>
                    <div class="alert alert-warning"><strong>Warning!</strong> Better check yourself, you're not looking too good.
                        <a class="alert-link" href="javascript:;">Alert link</a>
                    </div>
                    <div class="alert alert-danger"><strong>Danger!</strong> Change a few things up and try submitting again.
                        <a class="alert-link" href="javascript:;">Alert link</a>
                    </div>
                    <h5 class="m-t-10 m-b-10">Dismissing</h5>
                    <div class="alert alert-success alert-dismissable fade show">
                        <button class="close" data-dismiss="alert" aria-label="Close">×</button><strong>Success!</strong> You successfully read this important alert message.</div>
                    <div class="alert alert-warning alert-dismissable fade show">
                        <button class="close" data-dismiss="alert" aria-label="Close">×</button><strong>Warning!</strong> Better check yourself, you're not looking too good.</div>
                    <h5 class="m-t-10 m-b-10">Bordered</h5>
                    <div class="alert alert-danger alert-bordered"><strong>WOW!</strong> Change a few things up and try submitting again.</div>
                    <div class="alert alert-success alert-bordered"><strong>WOW!</strong> Change a few things up and try submitting again.</div>
                    <div class="alert alert-warning alert-bordered-right"><strong>WOW!</strong> Change a few things up and try submitting again.</div>
                    <h5 class="m-t-10 m-b-10">Additional content</h5>
                    <div class="alert alert-info alert-dismissable fade show">
                        <button class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4>Hello!</h4>
                        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                        <p>
                            <button class="btn btn-success">i am agree</button>
                            <button class="btn btn-warning">Cancel</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Tooltips &amp; Popovers</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                        <a class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item">option 1</a>
                            <a class="dropdown-item">option 2</a>
                        </div>
                    </div>
                </div>
                <div class="ibox-body">
                    <button class="btn btn-default m-r-5 m-b-5" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Left</button>
                    <button class="btn btn-default m-r-5 m-b-5" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Top</button>
                    <button class="btn btn-default m-r-5 m-b-5" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">Bottom</button>
                    <button class="btn btn-default m-r-5 m-b-5" data-toggle="tooltip" data-placement="right" title="Tooltip on right">Right</button>
                    <button class="btn btn-default m-b-5" data-toggle="tooltip" data-html="true" title="&lt;em&gt;Tooltip&lt;/em&gt; &lt;u&gt;with&lt;/u&gt; &lt;b&gt;HTML&lt;/b&gt;">With HTML</button><br><br>
                    <button class="btn btn-default m-r-5 m-b-5" data-toggle="tooltip" data-placement="top" data-trigger="click" title="Clickable Tooltip">Click to tooltip</button>
                    <button class="btn btn-default m-b-5" data-toggle="tooltip" data-placement="top" data-html="true" title="&lt;img src='../assets/img/demo/users/u1.jpg' width='35px'&gt;">With Icons</button>
                    <h5 class="m-t-10 m-b-10">Popovers</h5>
                    <button class="btn btn-info m-r-5 m-b-5" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Hoverable Popover</button>
                    <button class="btn btn-info m-r-5 m-b-5" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Dismissable Popover</button>
                    <button class="btn btn-info m-b-5" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Clickable Popover</button><br><br>
                    <button class="btn btn-info m-r-5 m-b-5" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Top</button>
                    <button class="btn btn-info m-r-5 m-b-5" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Right</button>
                    <button class="btn btn-info m-r-5 m-b-5" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Vivamussagittis lacus vel augue laoreet rutrum faucibus.">Bottom</button>
                    <button class="btn btn-info m-b-5" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Left</button>
                </div>
            </div>
        </div>
    </div>
</div>
