footer.page-footer
  .font-13
    | 2018 © 
    b AdminCAST
    |  - All rights reserved.
  a(href="http://themeforest.net/item/adminca-responsive-bootstrap-4-3-angular-4-admin-dashboard-template/20912589", target='_blank').px-4 BUY PREMIUM
  div.to-top
    i.fa.fa-angle-double-up
