<div class="page-heading">
    <h1 class="page-title">Sparkline Charts</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Sparkline Charts</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Sparkline Charts</div>
        </div>
        <div class="ibox-body">
            <p>Mouse speed
                <span id="mousespeed">Loading..</span>
            </p>
            <p>Inline
                <span class="sparkline">10,8,9,3,5,8,5</span> line graphs
                <span class="sparkline">8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10</span>
            </p>
            <p>Bar charts
                <span class="sparkbar">10,8,9,3,5,8,5</span> negative values:
                <span class="sparkbar">-3,1,2,0,3,-1</span> stacked:
                <span class="sparkbar">0:2,2:4,4:2,4:1</span>
            </p>
            <p>Pie charts
                <span class="sparkpie">1,1,2</span>
                <span class="sparkpie">1,5</span>
                <span class="sparkpie">20,50,80</span>
            </p>
            <p>Composite inline
                <span id="compositeline">8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10</span>
            </p>
            <p>Inline with normal range
                <span id="normalline">8,4,0,0,0,0,1,4,4,10,10,10,10,0,0,0,4,6,5,9,10</span>
            </p>
            <p>Composite bar
                <span id="compositebar">4,6,7,7,4,3,2,1,4</span>
            </p>
            <p>Discrete
                <span class="discrete1">4,6,7,7,4,3,2,1,4,4,5,6,7,6,6,2,4,5</span><br /></p>
            <p>Discrete with threshold
                <span id="discrete2">4,6,7,7,4,3,2,1,4</span>
            </p>
            <p>Customize size and colours
                <span id="linecustom">10,8,9,3,5,8,5,7</span>
            </p>
            <p>Tristate charts
                <span class="sparktristate">1,1,0,1,-1,-1,1,-1,0,0,1,1</span><br /></p>
            <p>Tristate chart using a colour map:
                <span class="sparktristatecols">1,2,0,2,-1,-2,1,-2,0,0,1,1</span>
            </p>
            <p>Box Plot:
                <span class="sparkboxplot">4,27,34,52,54,59,61,68,78,82,85,87,91,93,100</span><br /></p>
        </div>
    </div>
</div>
