<div class="page-heading">
    <h1 class="page-title">Cards</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Cards</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Cards</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <div class="card" style="width:280px;">
                        <img class="card-img-top" src="./assets/img/blog/storm.jpg" />
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <div class="text-muted card-subtitle">subtitle</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button class="btn btn-default btn-sm"><i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div><br>
                    <div class="card" style="width:280px;">
                        <img class="card-img-top" src="./assets/img/blog/macarons.jpg" />
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="link-blue"><i class="fa fa-comments"></i> Comments</a>
                        </div>
                    </div><br>
                    <div class="card" style="width:280px;">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <div class="text-muted card-subtitle">2 days ago</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <img class="card-img-top" src="./assets/img/blog/horse.jpg" />
                    </div><br>
                    <h5 class="m-t-20 m-b-20">Without image</h5>
                    <div class="card" style="width:280px;">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <div class="text-muted card-subtitle">subtitle</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a class="link-blue text-muted"><i class="fa fa-heart"></i> Like</a>
                        </div>
                    </div><br>
                    <div class="card" style="width:280px;">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <div class="text-muted card-subtitle">subtitle</div>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="pull-right">
                                <span class="text-muted">Frank</span>
                                <img class="img-circle m-l-10" src="./assets/img/users/u3.jpg" style="width:28px;" />
                            </div>
                        </div>
                    </div><br></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Cards</div>
                    <div class="ibox-tools">
                        <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="ibox-body">
                    <h5 class="m-b-20">Header & Footer</h5>
                    <div class="card" style="width:320px;">
                        <div class="card-header">
                            <img class="img-circle m-r-10 pull-left" src="./assets/img/users/u2.jpg" style="width:28px;" />
                            <h6 class="m-0">Becky Brooks</h6><small class="text-muted">16 January 2014</small></div>
                        <div class="card-body">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="link-blue"><i class="fa fa-heart"></i> Like</a>
                                <button class="btn btn-default btn-sm">Share <i class="fa fa-share pull-rightx"></i></button>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="card" style="width:300px;">
                        <img class="card-img-top" src="./assets/img/blog/candles.jpg" />
                        <div class="card-body">
                            <h4 class="card-title">Jane Smith</h4>
                            <div class="text-muted card-subtitle">Director</div>
                            <div>Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                        </div>
                        <div class="card-footer">
                            <a class="text-info"><i class="fa fa-star"></i> Follow</a>
                            <span class="pull-right text-muted font-13">Joined in 12.01</span>
                        </div>
                    </div>
                    <h5 class="m-t-20 m-b-20">Image overlay</h5>
                    <div class="card" style="width:260px;">
                        <img class="card-img" src="./assets/img/blog/storm.jpg" />
                        <div class="card-img-overlay text-white">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button class="btn btn-default btn-sm">Read</button>
                        </div>
                    </div><br>
                    <h5 class="m-t-20 m-b-20">With List</h5>
                    <div class="card" style="width:300px;">
                        <img class="card-img-top" src="./assets/img/blog/macarons.jpg" />
                        <div class="card-body">
                            <h4 class="card-title">Jane Smith</h4>
                            <div>Some quick example text.</div>
                        </div>
                        <ul class="list-group list-group-divider no-margin">
                            <li class="list-group-item" style="border-top-color:#e1eaec;">Sales
                                <span class="badge badge-danger badge-circle float-right">4</span>
                            </li>
                            <li class="list-group-item">Photos
                                <span class="badge badge-info badge-circle float-right">7</span>
                            </li>
                            <li class="list-group-item">Friends
                                <span class="badge badge-warning badge-circle float-right">24</span>
                            </li>
                        </ul>
                        <div class="card-footer">
                            <a class="text-info"><i class="fa fa-star"></i> Follow</a>
                            <span class="pull-right text-muted font-13">Joined in 12.01</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Card groups</div>
                <div class="ibox-tools">
                    <a class="ibox-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <div class="ibox-body">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-group">
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Lola</h5>
                                    <div class="text-muted card-subtitle">Director</div>
                                    <div>Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Jack</h5>
                                    <div class="text-muted card-subtitle">SEO</div>
                                    <div>Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Jane</h5>
                                    <div class="text-muted card-subtitle">Designer</div>
                                    <div>Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <h4 class="m-b-20 font-strong">Card deck</h4>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-deck">
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Lola</h5>
                                    <div class="text-muted card-subtitle">Director</div>
                                    <div>Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-star"></i> Follow</a>
                                    <span class="pull-right text-muted font-13">Jan 2</span>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h5 class="card-title">Jack</h5>
                                    <div class="text-muted card-subtitle">SEO</div>
                                    <div>Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-star"></i> Follow</a>
                                    <span class="pull-right text-muted font-13">Dec 4</span>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/image.png" />
                                <div class="card-body">
                                    <h4 class="card-title">Jane</h4>
                                    <div class="text-muted card-subtitle">Designer</div>
                                    <div>Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-star"></i> Follow</a>
                                    <span class="pull-right text-muted font-13">Jan 7</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <h4 class="m-b-20 font-strong">Card columns</h4>
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-columns">
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/blog/storm.jpg" />
                                <div class="card-body">
                                    <h4 class="card-title">Lola</h4>
                                    <div class="text-muted card-subtitle">Director</div>
                                    <div>Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/blog/seascape.jpg" />
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="link-blue"><i class="fa fa-comments"></i> Comments</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <div class="text-muted card-subtitle">subtitle</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a class="link-blue"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <div class="text-muted card-subtitle">2 days ago</div>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                                <img class="card-img-top" src="./assets/img/blog/horse.jpg" />
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/blog/macarons.jpg" />
                                <div class="card-body">
                                    <h4 class="card-title">Jane</h4>
                                    <div>Some quick example text to build on the card title and make up the bulk of the card's content.</div>
                                </div>
                                <div class="card-footer">
                                    <a class="text-info"><i class="fa fa-heart"></i> Like</a>
                                </div>
                            </div>
                            <div class="card">
                                <img class="card-img-top" src="./assets/img/blog/storm.jpg" />
                                <div class="card-img-overlay text-white">
                                    <h4 class="card-title">Card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <button class="btn btn-default btn-sm">Read</button>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <img class="pull-left img-circle m-r-10" src="./assets/img/users/u1.jpg" style="width:32px;" />
                                    <h6 class="m-0">Lolla Hatson</h6><small class="text-muted">16 January 2014</small></div>
                                <div class="card-body">
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a class="link-blue"><i class="fa fa-heart"></i> Like</a>
                                        <button class="btn btn-default btn-sm">Share <i class="fa fa-share"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
