<div class="page-heading">
    <h1 class="page-title">Vector maps</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Vector maps</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">World map</div>
                </div>
                <div class="ibox-body">
                    <div id="world_map" style="height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">USA map</div>
                </div>
                <div class="ibox-body">
                    <div id="usa_map" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
