<div class="content">
    <div class="brand">
        <a class="link" routerLink="/index">AdminCAST</a>
    </div>
    <div>
        <div class="text-center m-b-20">
            <img class="img-circle" src="./assets/img/users/u3.jpg" width="110px" />
        </div>
        <form class="text-center" id="lock-form" action="javascript:;" method="post">
            <h5 class="font-strong">James Brown</h5>
            <p class="font-13">Your are in lock screen. Enter your password to retrieve your session</p>
            <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="******">
            </div>
            <div class="form-group">
                <button class="btn btn-success btn-block" type="submit"> <i class="fa fa-unlock-alt m-r-5"></i>Unlock</button>
            </div>
        </form>
    </div>
</div>
<style type="text/css">
    .brand {
        font-size: 44px;
        text-align: center;
        margin: 40px 0;
    }
    .content {
        max-width: 300px;
        margin:0 auto;
    }
</style>
