<div class="page-heading">
    <h1 class="page-title">Icons</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Icons</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="card m-t-20 m-b-20">
                        <div class="card-body">
                            <h5 class="card-title text-center">FontAwesome Icons v4.7.0</h5>
                            <div class="icons-preview">
                                <div class="icon-item"><i class="fa fa-bar-chart"></i></div>
                                <div class="icon-item"><i class="fa fa-calendar"></i></div>
                                <div class="icon-item"><i class="fa fa-envelope-open-o"></i></div>
                                <div class="icon-item"><i class="fa fa-heart-o"></i></div>
                                <div class="icon-item"><i class="fa fa-bars"></i></div>
                                <div class="icon-item"><i class="fa fa-search"></i></div>
                                <div class="icon-item"><i class="fa fa-bullhorn"></i></div>
                                <div class="icon-item"><i class="fa fa-file-text-o"></i></div>
                                <div class="icon-item"><i class="fa fa-bell-o"></i></div>
                            </div>
                            <div class="text-center m-t-10">
                                <a class="btn btn-sm btn-info" href="http://fontawesome.io/icons" target="_blank">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card m-t-20 m-b-20">
                        <div class="card-body">
                            <h5 class="card-title text-center">Themify Icons</h5>
                            <div class="icons-preview">
                                <div class="icon-item"><i class="ti-shopping-cart"></i></div>
                                <div class="icon-item"><i class="ti-paint-roller"></i></div>
                                <div class="icon-item"><i class="ti-lock"></i></div>
                                <div class="icon-item"><i class="ti-user"></i></div>
                                <div class="icon-item"><i class="ti-comment-alt"></i></div>
                                <div class="icon-item"><i class="ti-stats-up"></i></div>
                                <div class="icon-item"><i class="ti-menu"></i></div>
                                <div class="icon-item"><i class="ti-server"></i></div>
                                <div class="icon-item"><i class="ti-paint-bucket"></i></div>
                            </div>
                            <div class="text-center m-t-10">
                                <a class="btn btn-sm btn-info" href="https://themify.me/themify-icons" target="_blank">View all</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .icons-preview {
            display: flex;
            flex-wrap: wrap
        }

        .icons-preview>.icon-item {
            height: 50px;
            line-height: 50px;
            width: 80px;
            font-size: 30px;
            background-color: #ebedee;
            margin: 5px;
            text-align: center;
        }
    </style>
</div>
