<div class="page-heading">
    <h1 class="page-title">Tabs &amp; Accordions</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html"><i class="la la-home font-20"></i></a>
        </li>
        <li class="breadcrumb-item">Tabs &amp; Accordions</li>
    </ol>
</div>
<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Line tabs</div>
                </div>
                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-7-1" data-toggle="tab"><i class="fa fa-line-chart"></i> First</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-7-2" data-toggle="tab"><i class="fa fa-heartbeat"></i> Second</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-7-3" data-toggle="tab"><i class="fa fa-life-ring"></i> Third</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-7-1">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                        <div class="tab-pane" id="tab-7-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                        <div class="tab-pane fade"
                            id="tab-7-3">Third tab</div>
                    </div><br></div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Tabs in Panel</div>
                    <ul class="nav nav-tabs tabs-line pull-right">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-8-1" data-toggle="tab"><i class="fa fa-taxi"></i> Tab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-8-2" data-toggle="tab"><i class="fa fa-bus"></i> Tab</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-8-3" data-toggle="tab"><i class="fa fa-plane"></i> Tab</a>
                        </li>
                    </ul>
                </div>
                <div class="ibox-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-8-1">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                        <div class="tab-pane" id="tab-8-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                        <div class="tab-pane fade"
                            id="tab-8-3">Third tab</div>
                    </div><br></div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Aligned options</div>
                </div>
                <div class="ibox-body">
                    <div class="clf">
                        <ul class="nav nav-tabs tabs-line-left">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-9-1" data-toggle="tab"><i class="fa fa-line-chart"></i> First</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-9-2" data-toggle="tab"><i class="fa fa-heartbeat"></i> Second</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-9-3" data-toggle="tab"><i class="fa fa-life-ring"></i> Third</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-9-1">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                            <div class="tab-pane"
                                id="tab-9-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                            <div class="tab-pane fade"
                                id="tab-9-3">Third tab</div>
                        </div>
                    </div><br>
                    <div class="clf">
                        <ul class="nav nav-tabs tabs-line-right">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-10-1" data-toggle="tab"><i class="fa fa-line-chart"></i> First</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-10-2" data-toggle="tab"><i class="fa fa-heartbeat"></i> Second</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-10-3" data-toggle="tab"><i class="fa fa-life-ring"></i> Third</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-10-1">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                            <div class="tab-pane"
                                id="tab-10-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                            <div class="tab-pane fade"
                                id="tab-10-3">Third tab</div>
                        </div>
                    </div><br>
                    <div class="clf">
                        <ul class="nav nav-tabs tabs-line nav-fill">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-11-1" data-toggle="tab"><i class="fa fa-line-chart"></i> First</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-11-2" data-toggle="tab"><i class="fa fa-heartbeat"></i> Second</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-11-3" data-toggle="tab"><i class="fa fa-life-ring"></i> Third</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-11-1">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                            <div class="tab-pane"
                                id="tab-11-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                            <div class="tab-pane fade"
                                id="tab-11-3">Third tab</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Basic Bootstrap tabs</div>
                </div>
                <div class="ibox-body">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-1-1" data-toggle="tab"><i class="fa fa-line-chart"></i> First</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-1-2" data-toggle="tab"><i class="fa fa-heartbeat"></i> Second</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <a class="dropdown-item" href="#tab-1-3" data-toggle="tab">Third tab</a>
                                <a class="dropdown-item" href="#tab-1-4" data-toggle="tab">Fourth tab</a>
                            </ul>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-1-1">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                        <div class="tab-pane" id="tab-1-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                        <div class="tab-pane fade"
                            id="tab-1-3">Third tab</div>
                        <div class="tab-pane fade" id="tab-1-4">Fourth tab</div>
                    </div><br></div>
            </div>
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Aligned options</div>
                </div>
                <div class="ibox-body">
                    <div class="clf">
                        <ul class="nav flex-column nav-tabs tabs-left">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-6-1" data-toggle="tab"><i class="fa fa-line-chart"></i> Tab</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-6-2" data-toggle="tab"><i class="fa fa-heartbeat"></i> Tab</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#tab-6-3" data-toggle="tab">Third tab</a>
                                    <a class="dropdown-item" href="#tab-6-4" data-toggle="tab">Fourth tab</a>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-6-1">Add <code>.tabs-left</code>. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor. Vestibulum id ligula porta felis
                                euismod semper eget lacinia odio sem nec elit.</div>
                            <div class="tab-pane" id="tab-6-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                            <div class="tab-pane fade"
                                id="tab-6-3">Third tab</div>
                            <div class="tab-pane fade" id="tab-6-4">Fourth tab</div>
                        </div>
                    </div><br>
                    <div class="clf">
                        <ul class="nav flex-column nav-tabs tabs-right">
                            <li class="nav-item">
                                <a class="nav-link active" href="#tab-5-1" data-toggle="tab">First</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#tab-5-2" data-toggle="tab">Second</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown">More <i class="fa fa-angle-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <a class="dropdown-item" href="#tab-5-3" data-toggle="tab">Third tab</a>
                                    <a class="dropdown-item" href="#tab-5-4" data-toggle="tab">Fourth tab</a>
                                </ul>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-5-1">Add <code>.tabs-right</code>. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor. Vestibulum id ligula porta felis
                                euismod semper eget lacinia odio sem nec elit.</div>
                            <div class="tab-pane" id="tab-5-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                            <div class="tab-pane fade"
                                id="tab-5-3">Third tab</div>
                            <div class="tab-pane fade" id="tab-5-4">Fourth tab</div>
                        </div>
                    </div><br>
                    <ul class="nav nav-tabs flex-row-reverse">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-4-1" data-toggle="tab">First</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-4-2" data-toggle="tab">Second</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <a class="dropdown-item" href="#tab-4-3" data-toggle="tab">Third tab</a>
                                <a class="dropdown-item" href="#tab-4-4" data-toggle="tab">Fourth tab</a>
                            </ul>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-4-1">Add <code>.flex-row-reverse</code> for reversed tabs. Lorem Ipsum haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</div>
                        <div class="tab-pane"
                            id="tab-4-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                        <div class="tab-pane fade"
                            id="tab-4-3">Third tab</div>
                        <div class="tab-pane fade" id="tab-4-4">Fourth tab</div>
                    </div><br>
                    <ul class="nav nav-tabs nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-2-1" data-toggle="tab">First</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2-2" data-toggle="tab">Second</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2-2" data-toggle="tab">Third</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-2-1">Add <code>.nav-fill</code> for justify tabs. Lorem Ipsum haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor.</div>
                        <div class="tab-pane" id="tab-2-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                        <div class="tab-pane fade"
                            id="tab-2-3">Third tab</div>
                    </div><br>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab-3-1">Add <code>.tabs-below</code> for below tabs. Lorem Ipsum haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                        <div
                            class="tab-pane" id="tab-3-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                    <div class="tab-pane fade"
                        id="tab-3-3">Third tab</div>
                    <div class="tab-pane fade" id="tab-3-4">Fourth tab</div>
                </div>
                <ul class="nav nav-tabs tabs-below">
                    <li class="nav-item">
                        <a class="nav-link active" href="#tab-3-1" data-toggle="tab">First</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab-3-2" data-toggle="tab">Second</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown <i class="fa fa-angle-up"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="#tab-3-3" data-toggle="tab">Third tab</a>
                            <a class="dropdown-item" href="#tab-3-4" data-toggle="tab">Fourth tab</a>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ibox">
            <div class="ibox-head">
                <div class="ibox-title">Default pills</div>
            </div>
            <div class="ibox-body">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link active" href="#pill-1-1" data-toggle="tab">First</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pill-1-2" data-toggle="tab">Second</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <a class="dropdown-item" href="#pill-1-3" data-toggle="tab">Third tab</a>
                            <a class="dropdown-item" href="#pill-1-4" data-toggle="tab">Fourth tab</a>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="pill-1-1">As in the case of tabs available <code>.tabs-reversed</code> and <code>.tabs-below</code> classes. Lorem Ipsum heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche
                        tempor.</div>
                    <div class="tab-pane" id="pill-1-2">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</div>
                    <div class="tab-pane fade" id="pill-1-3">Third tab</div>
                    <div class="tab-pane fade" id="pill-1-4">Fourth tab</div>
                </div>
            </div>
        </div>
    </div>
</div>
