include ../config.pug
include ../vars.pug
include ../mixins.pug

doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width initial-scale=1.0")
    title #{titlePrefix} | Forgot password
    // GLOBAL MAINLY STYLES
    +link('bootstrap/dist/css/bootstrap.min.css', 'plugin')
    // THEME STYLES
    +link('assets/css/main.css')
    // PAGE LEVEL STYLES
    +link('auth-light.css', 'page')
  body.bg-silver-300
    .content
        .brand: a.link(href='index.html') AdminCAST
        form#forgot-form(action='javascript:;', method='post')
            h3.m-t-10.m-b-10 Forgot password
            p.m-b-20 Enter your email address below and we'll send you password reset instructions.
            .form-group
                input.form-control(type='email', name='email', placeholder='Email', autocomplete='off')
            .form-group
                button.btn.btn-info.btn-block(type='submit') Submit

    
    // BEGIN PAGA BACKDROPS
    div.sidenav-backdrop.backdrop
    div.preloader-backdrop
      div.page-preloader Loading
    // END PAGA BACKDROPS

    <!-- CORE PLUGINS -->
    +script('jquery/dist/jquery.min.js', 'plugin')
    +script('popper.js/dist/umd/popper.min.js', 'plugin')
    +script('bootstrap/dist/js/bootstrap.min.js', 'plugin')
    <!-- PAGE LEVEL PLUGINS -->
    +script('jquery-validation/dist/jquery.validate.min.js', 'plugin')
    // CORE SCRIPTS
    +script('assets/js/app.js')
    // PAGE LEVEL SCRIPTS
    script(type='text/javascript').
      $(function(){
        $('#forgot-form').validate({
            errorClass:"help-block",
            rules: {
                email: {required:true,email:true},
            },
            highlight:function(e){$(e).closest(".form-group").addClass("has-error")},
            unhighlight:function(e){$(e).closest(".form-group").removeClass("has-error")},
        });
      });
