extends ../layout.pug

block variables
  - var pageTitle = 'Form Advanced Plugins'
  - var pageUrl = 'form_advanced.html'
  - var page_heading = 'Advanced Plugins'
  - var path = ['Advanced Plugins']

block plugins-styles
  +link('select2/dist/css/select2.min.css','plugin')
  +link('bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css','plugin')
  +link('bootstrap-timepicker/css/bootstrap-timepicker.min.css','plugin')
  +link('jquery-minicolors/jquery.minicolors.css','plugin')

block plugins
  +script('select2/dist/js/select2.full.min.js', 'plugin')
  +script('jquery-knob/dist/jquery.knob.min.js', 'plugin')
  +script('moment/min/moment.min.js', 'plugin')
  +script('bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js', 'plugin')
  +script('bootstrap-timepicker/js/bootstrap-timepicker.min.js', 'plugin')
  +script('jquery-minicolors/jquery.minicolors.min.js', 'plugin')

block scripts
  +script('form-plugins.js', 'page')

block content
  .row
    .col-lg-6
      +panel('Select 2 <a class="btn btn-xs btn-default m-l-5" href="https://select2.github.io/" target="_blank">Official site</a>')
        .form-group
          label.form-control-label Single select
          select.form-control.select2_demo_1
            optgroup(label='Alaskan/Hawaiian Time Zone')
              option(value='AK') Alaska
              option(value='HI') Hawaii
            optgroup(label='Pacific Time Zone')
              option(value='CA') California
              option(value='NV') Nevada
              option(value='OR') Oregon
              option(value='WA') Washington
            optgroup(label='Mountain Time Zone')
              option(value='AZ') Arizona
              option(value='CO') Colorado
              option(value='ID') Idaho
              option(value='MT') Montana
              option(value='NE') Nebraska
              option(value='NM') New Mexico
              option(value='ND') North Dakota
              option(value='UT') Utah
              option(value='WY') Wyoming
            optgroup(label='Central Time Zone')
              option(value='AL') Alabama
              option(value='AR') Arkansas
              option(value='IL') Illinois
              option(value='IA') Iowa
              option(value='KS') Kansas
              option(value='KY') Kentucky
              option(value='LA') Louisiana
              option(value='MN') Minnesota
              option(value='MS') Mississippi
              option(value='MO') Missouri
              option(value='OK') Oklahoma
              option(value='SD') South Dakota
              option(value='TX') Texas
              option(value='TN') Tennessee
              option(value='WI') Wisconsin
            optgroup(label='Eastern Time Zone')
              option(value='CT') Connecticut
              option(value='DE') Delaware
              option(value='FL') Florida
              option(value='GA') Georgia
              option(value='IN') Indiana
              option(value='ME') Maine
              option(value='MD') Maryland
              option(value='MA') Massachusetts
              option(value='MI') Michigan
              option(value='NH') New Hampshire
              option(value='NJ') New Jersey
              option(value='NY') New York
              option(value='NC') North Carolina
              option(value='OH') Ohio
              option(value='PA') Pennsylvania
              option(value='RI') Rhode Island
              option(value='SC') South Carolina
              option(value='VT') Vermont
              option(value='VA') Virginia
              option(value='WV') West Virginia
        .form-group
          label.form-control-label Multiple select
          select.form-control.select2_demo_1(multiple='')
            optgroup(label='Alaskan/Hawaiian Time Zone')
              option(value='AK') Alaska
              option(value='HI') Hawaii
            optgroup(label='Pacific Time Zone')
              option(value='CA') California
              option(value='NV') Nevada
              option(value='OR') Oregon
              option(value='WA') Washington
            optgroup(label='Mountain Time Zone')
              option(value='AZ') Arizona
              option(value='CO') Colorado
              option(value='ID') Idaho
              option(value='MT') Montana
              option(value='NE') Nebraska
              option(value='NM') New Mexico
              option(value='ND') North Dakota
              option(value='UT') Utah
              option(value='WY') Wyoming
        .form-group
          label.form-control-label With Placeholder & allow clear
          select.form-control.select2_demo_2
            option
            optgroup(label='Alaskan/Hawaiian Time Zone')
              option(value='AK') Alaska
              option(value='HI') Hawaii
            optgroup(label='Pacific Time Zone')
              option(value='CA') California
              option(value='NV') Nevada
              option(value='OR') Oregon
              option(value='WA') Washington
            optgroup(label='Mountain Time Zone')
              option(value='AZ') Arizona
              option(value='CO') Colorado
              option(value='ID') Idaho
              option(value='MT') Montana
              option(value='NE') Nebraska
              option(value='NM') New Mexico
              option(value='ND') North Dakota
              option(value='UT') Utah
              option(value='WY') Wyoming
      +panel('Data picker <a class="btn btn-default btn-xs" href="https://github.com/uxsolutions/bootstrap-datepicker" target="_blank">Official site</a>')
        #date_1.form-group
            label.font-normal
            .input-group.date
                span.input-group-addon.bg-white
                    i.fa.fa-calendar
                input.form-control(type='text', value='04/12/2017')
        #date_2.form-group
            label.font-normal One Year view
            .input-group.date
                span.input-group-addon
                    i.fa.fa-calendar
                input.form-control(type='text', value='07/11/2017')
        #date_3.form-group
            label.font-normal Decade view
            .input-group.date
                span.input-group-addon
                    i.fa.fa-calendar
                input.form-control(type='text', value='08/12/2017')
        #date_4.form-group
            label.font-normal Month select
            .input-group.date
                span.input-group-addon
                    i.fa.fa-calendar
                input.form-control(type='text', value='06/12/2017')
        #date_5.form-group
            label.font-normal Range select
            #datepicker.input-daterange.input-group
                input.input-sm.form-control(type='text', name='start', value='04/12/2017')
                span.input-group-addon.p-l-10.p-r-10 to
                input.input-sm.form-control(type='text', name='end', value='08/17/2018')
        .form-group
            label Inline
            #date_6(data-date-format='mm/dd/yyyy')  
      +panel('Timepicker <a class="btn btn-default btn-xs" href="https://jdewit.github.io/bootstrap-timepicker/" target="_blank">Official site</a>')
        .input-group.bootstrap-timepicker.timepicker(data-autoclose='true')
            input.form-control(type='text')
            span.input-group-addon
                span.fa.fa-clock-o
      +panel('jQuery MiniColors <a class="btn btn-default btn-xs" href="http://labs.abeautifulsite.net/jquery-minicolors/" target="_blank">Official site</a>')
        .form-group
            label Hue (default)
            input.form-control.minicolors(type='text', data-control='hue', value='#F75A5F')
        .form-group
            label Saturation
            input.form-control.minicolors(type='text', data-control='saturation', value='#18C5A9')
        .form-group
            label Brightness
            input.form-control.minicolors(type='text', data-control='brightness', value='#F39C12')
        .form-group
            label Wheel
            input.form-control.minicolors(type='text', data-control='wheel', value='#23B7E5')
        .form-group
            label Hidden input
            input.form-control.minicolors(type='hidden', value='#3498DB')
        .form-group
            label RGB
            input.form-control.minicolors(type='text', data-format='rgb', value='rgb(33, 147, 58)')
        .form-group
            label RGBA
            input.form-control.minicolors(type='text', data-format='rgb', data-opacity='0.50', value='rgba(52, 64, 158, 0.5)')
        .form-group
            label Swatches
            input.form-control.minicolors(type='text', data-swatches='#fff|#000|#f00|#0f0|#00f|#ff0|#0ff', value='#17e8c9')
        .form-group
            label Swatches and opacity
            input.form-control.minicolors(type='text', data-format='rgb', data-opacity='0.50', data-swatches='#fff|#000|#f00|#0f0|#00f|#ff0|rgba(0,0,255,0.5)', value='rgba(14, 206, 235, .5)')
        .form-group
            label bottom right
            input.form-control.minicolors(type='text', data-position='bottom right', value='#6654a8')
        p
            | Valid positions include 
            code bottom left
            | , 
            code bottom right
            | , 
            code top left
            | , and 
            code top right
            | .

    .col-lg-6
      +panel('Knob - Dial <a class="btn btn-xs btn-default m-l-5" href="https://github.com/aterrien/jQuery-Knob" target="_blank">Official site</a>')
        .row
            .col-sm-4.m-b-20
                input.dial(value='45', data-width='85', data-height='85', type='text')
            .col-sm-4.m-b-20
                input.dial(value='550', data-width='85', data-height='85', data-thickness='.2', data-fgcolor='#18C5A9', data-min='-1000', data-max='1000', data-step='10', data-displayprevious='true', type='text')
            .col-sm-4.m-b-20
                input.dial(value='20', data-width='85', data-height='85', data-fgcolor='#f75a5f', data-cursor='true', data-thicknessx='.3', type='text')
        .row
            .col-sm-4.m-b-20
                input.dial(value='45', data-width='85', data-height='85', data-fgcolor='#F39C12', data-angleoffset='90', type='text')
            .col-sm-4.m-b-20
                input.dial(value='10.4', data-width='85', data-height='85', data-fgcolor='#2CC4CB', data-step='.1', data-min='-100', data-displayprevious='true', type='text')
            .col-sm-4.m-b-20
                input.dial(value='42', data-width='85', data-height='85', data-fgcolor='#f75a5f', data-angleoffset='-125', data-anglearc='250', data-rotation='anticlockwise', type='text')
        .row
            .col-sm-6.m-b-20.text-center
                input.dial(value='0', data-width='110', data-height='110', data-thickness='.2', data-fgcolor='#18C5A9', data-max='500', data-min='-500', data-displayprevious='true', type='text')
            .col-sm-6.m-b-20.text-center
                input.dial(value='22.6', data-width='110', data-height='110', data-fgcolor='#2CC4CB', data-step='.1', data-min='-100', data-displayprevious='true', type='text')
