extends ../layout.pug

block variables
  - var pageTitle = 'Invoice'
  - var pageUrl = 'invoice.html'
  - var page_heading = 'Invoice'
  - var path = ['Invoice']

block content
    .ibox.invoice
        .invoice-header
            .row
                .col-6
                    .invoice-logo
                        +img('logos/github-logo.png')(height='65px')
                    div
                        .m-b-5.font-bold Invoice from
                        div Github, Inc.
                        ul.list-unstyled.m-t-10
                            li.m-b-5
                                span.font-strong A:
                                |  San Francisco, CA 94103 Market Street
                            li.m-b-5
                                span.font-strong W:
                                |  adminca@exmail.com
                            li
                                span.font-strong P:
                                |  (123) 456-2112
                .col-6.text-right
                    .clf(style='margin-bottom:30px')
                        dl.row.pull-right(style='width:250px')
                            dt.col-sm-6 Invoice Date
                            dd.col-sm-6 10 April 2017
                            dt.col-sm-6 Issue Date
                            dd.col-sm-6 30 April 2017
                            dt.col-sm-6 Account No.
                            dd.col-sm-6 1450012
                    div
                        .m-b-5.font-bold Invoice To
                        div Emma Johnson
                        ul.list-unstyled.m-t-10
                            li.m-b-5 San Francisco, 548 Market St.
                            li.m-b-5 emma.johnson@exmail.com
                            li (123) 279-4058
        table.table.table-striped.no-margin.table-invoice
            thead
                tr
                    th Item Description
                    th Quantity
                    th Unit Price
                    th.text-right Total
            tbody
                tr
                    td
                        div
                            strong Flat Design
                        small Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    td 2
                    td $220.00
                    td $440.00
                tr
                    td
                        div
                            strong Bootstrap theme
                        small Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    td 1
                    td $500.00
                    td $500.00
                tr
                    td
                        div
                            strong Invoice Design
                        small Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    td 3
                    td $300.00
                    td $900.00
        table.table.no-border
            thead
                tr
                    th
                    th(width='15%')
            tbody
                tr.text-right
                    td Subtotal:
                    td $1840
                tr.text-right
                    td TAX 5%:
                    td $92
                tr.text-right
                    td.font-bold.font-18 TOTAL:
                    td.font-bold.font-18 $1748
        .text-right
            button.btn.btn-info(type='button', onclick='javascript:window.print();')
                i.fa.fa-print
                |  Print
    style.
        .invoice {
            padding: 20px
        }
        .invoice-header {
            margin-bottom: 50px
        }
        .invoice-logo {
            margin-bottom: 50px;
        }
        .table-invoice tr td:last-child {text-align:right;}
